.button-1{
    border-radius: 0px;
}
.button-2{
    border-radius: 0px;
}
.button-3{
    border-radius: 0px;
}
.head-button{
    width:80%;
    border-radius: 0px;
    background-color: #1A1852;
    font: white;
}
a{
    color:white;
}
.title1:after,
.title1:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
